*{
    padding: 0;
    margin: 0;

}
body{
    background-color: antiquewhite;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.container {
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(219, 155, 72);
    border-radius: 5px;
}
.btn{
    height: 40px;
    width: 100px;
    padding: 2px;
    font-size: medium;
    background-color: rgb(117, 189, 189);
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    
}
.q{
    flex-direction: column;
    margin-bottom: 10px;
}
input{
    margin-bottom: 20px;
}
.next{
    height: 40px;
    width: 100px;
    padding: 2px;
    font-size: medium;
    background-color: rgb(117, 189, 189);
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}